src/main/resources/ESB/Schema/Common/CommonEnumerationTypes-001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.gema.de/ESB/Schema/Common/CommonEnumerationTypes-001"
            xmlns:commonEnum="http://www.gema.de/ESB/Schema/Common/CommonEnumerationTypes-001"
            targetNamespace="http://www.gema.de/ESB/Schema/Common/CommonEnumerationTypes-001">
	  <xsd:simpleType name="CompositeType">
		    <xsd:annotation>
			      <xsd:documentation>Composite type.
Indicates if the work is a main composite or part of another composite (FS19).</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="NONE">
				        <xsd:annotation>
					          <xsd:documentation>NONE- neither main composite nor related</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="RELD">
				        <xsd:annotation>
					          <xsd:documentation>work is related to a main composite</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="REGC">
				        <xsd:annotation>
					          <xsd:documentation> work is a regular composite</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="INDC">
				        <xsd:annotation>
					          <xsd:documentation>work is an indexing composite</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="POTP">
				        <xsd:annotation>
					          <xsd:documentation>work is a Potpourri</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="None"/>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="CopyrightStatusOfCompostion">
		    <xsd:annotation>
			      <xsd:documentation>Status of composition enumeration.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="protected"/>
			      <xsd:enumeration value="unprotected"/>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="GEMARoleCode">
		    <xsd:annotation>
			      <xsd:documentation>GEMA role codes.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="K">
				        <xsd:annotation>
					          <xsd:documentation>Komponist</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="KT">
				        <xsd:annotation>
					          <xsd:documentation>Komponist/Textdichter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="T">
				        <xsd:annotation>
					          <xsd:documentation>Textdichter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="TNA">
				        <xsd:annotation>
					          <xsd:documentation>NachTextdichter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="TNE">
				        <xsd:annotation>
					          <xsd:documentation>Neu-Textdicter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="OV">
				        <xsd:annotation>
					          <xsd:documentation>Originalverlag</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="SV">
				        <xsd:annotation>
					          <xsd:documentation>Sub-Verlag</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="B">
				        <xsd:annotation>
					          <xsd:documentation>B-Bearbeiter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="A">
				        <xsd:annotation>
					          <xsd:documentation>A-Bearbeiter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="TS">
				        <xsd:annotation>
					          <xsd:documentation>Spezialtextdichter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="ST">
				        <xsd:annotation>
					          <xsd:documentation>Sub-Textdichter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="SB">
				        <xsd:annotation>
					          <xsd:documentation>Sub-Bearbeiter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="PB">
				        <xsd:annotation>
					          <xsd:documentation>Potpourri-Bearbeiter</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="UNKNOWN">
				        <xsd:annotation>
					          <xsd:documentation>Used for due to technical implications of the mapping algorithm. Any interested party with this role indicates an error in mapping algorithm or in data provided by ICE. In either case, the calling application should throw an exception.</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="LyricsAdaptationCode">
		    <xsd:annotation>
			      <xsd:documentation>Lyrics adaptation code enumeration.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="UNDEFINED">
				        <xsd:annotation>
					          <xsd:documentation>UNDEFINED lyrics adaptation code is not defined</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="ADL">
				        <xsd:annotation>
					          <xsd:documentation>Addition</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="REP">
				        <xsd:annotation>
					          <xsd:documentation>Replacement L</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="MOD">
				        <xsd:annotation>
					          <xsd:documentation>Modification</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="NEW">
				        <xsd:annotation>
					          <xsd:documentation>New</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="NON">
				        <xsd:annotation>
					          <xsd:documentation>None</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="ORI">
				        <xsd:annotation>
					          <xsd:documentation>Original</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="TRA">
				        <xsd:annotation>
					          <xsd:documentation>Translation</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="UNS">
				        <xsd:annotation>
					          <xsd:documentation>Unspecified</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="NameType">
		    <xsd:annotation>
			      <xsd:documentation>Type of the name used by interested party.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="PA">
				        <xsd:annotation>
					          <xsd:documentation>Patronym (Publisher + Creator) - the primary current name by which the person is known   </xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="PP">
				        <xsd:annotation>
					          <xsd:documentation>Pseudonym (pseudonyms which the owner wishes to keep 
secret are apparently treated as separate patronyms)   </xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="DF">
				        <xsd:annotation>
					          <xsd:documentation>Different presentation (Publisher + Creator) - Different spelling: entered by a participating agency</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="ST">
				        <xsd:annotation>
					          <xsd:documentation>Standardised name (Publisher + Creator) - Standardised spelling: a variant form entered by the IPI centre 
to facilitate retrieval </xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="MO">
				        <xsd:annotation>
					          <xsd:documentation>Former name (Publisher + Creator)  - A former patronym changed eg by marriage.</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="OR">
				        <xsd:annotation>
					          <xsd:documentation>Other reference (Publisher only) - Other reference: eg a publisher’s imprint or a record company 
label</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="PG">
				        <xsd:annotation>
					          <xsd:documentation>Pseudonym Group (Creator only)</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="HR">
				        <xsd:annotation>
					          <xsd:documentation>Holding reference  - A group to which the legal entity belongs but which itself is not a registered rights owner.</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="RoleCode">
		    <xsd:annotation>
			      <xsd:documentation>Denotes the role of an IP within the Work. Codes values will be compliant with role codes defined within IPI Specification. </xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="A">
				        <xsd:annotation>
					          <xsd:documentation>Author, Writer, Lyricist</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="AD">
				        <xsd:annotation>
					          <xsd:documentation>Adaptor</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="AR">
				        <xsd:annotation>
					          <xsd:documentation>Arranger</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="C">
				        <xsd:annotation>
					          <xsd:documentation>Composer</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="E">
				        <xsd:annotation>
					          <xsd:documentation>Original Publisher</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="CA">
				        <xsd:annotation>
					          <xsd:documentation>Composer-Author combi role</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="SA">
				        <xsd:annotation>
					          <xsd:documentation>Sub-Author</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="SE">
				        <xsd:annotation>
					          <xsd:documentation>Sub-Publisher</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="SR">
				        <xsd:annotation>
					          <xsd:documentation>Sub-Arranger</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="TR">
				        <xsd:annotation>
					          <xsd:documentation>Translator</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="VersionType">
		    <xsd:annotation>
			      <xsd:documentation>Work Version Indicator.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="ORI">
				        <xsd:annotation>
					          <xsd:documentation>Original Work </xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="MOD">
				        <xsd:annotation>
					          <xsd:documentation>Modified version of a Work</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="WorkCategory">
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="UNDEFINED">
				        <xsd:annotation>
					          <xsd:documentation>UNDEFINED - Work category does not apply</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="COS">
				        <xsd:annotation>
					          <xsd:documentation>Composite of Samples</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="MED">
				        <xsd:annotation>
					          <xsd:documentation>Medley</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="POT">
				        <xsd:annotation>
					          <xsd:documentation>Potpourri</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="UCO">
				        <xsd:annotation>
					          <xsd:documentation>Unspecified Composite</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="WorkReferenceType">
		    <xsd:annotation>
			      <xsd:documentation>Describes the type of the work reference used to identify the work. </xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="ISWC">
				        <xsd:annotation>
					          <xsd:documentation>International Standard Work Code (ISWC)</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="IWK">
				        <xsd:annotation>
					          <xsd:documentation>Ice Work Key (WKEY)</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="WWF">
				        <xsd:annotation>
					          <xsd:documentation>Society work reference Werk-Werkfassungsnummer (SWREF)</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
	  <xsd:simpleType name="WorkStatus">
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="1">
				        <xsd:annotation>
					          <xsd:documentation>Work Fully Documented</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="2">
				        <xsd:annotation>
					          <xsd:documentation>New Work Registered by Publisher</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
			      <xsd:enumeration value="4">
				        <xsd:annotation>
					          <xsd:documentation>Un-notified Work</xsd:documentation>
				        </xsd:annotation>
			      </xsd:enumeration>
		    </xsd:restriction>
	  </xsd:simpleType>
</xsd:schema>